.agents/**
.cursor/**
debug/**
src/**
**/*.ts
**/*.tsx
**/*.map
**/tsconfig*.json
vite.config.*.mts
vitest.config.mts
.gitignore
.cursorignore
.cursorindexingignore
AGENTS.md
SPEC.md
**/*.test.ts
node_modules/**
!node_modules/@vscode/codicons/dist/**
.vscode/**
.git/**
*.md
!README.md
!LICENSE
